div.box-option-responsive-menu {
    width: 100%;
}
div.box-option-responsive-menu form {
        width: 500px;
    margin: 50px auto;
    padding: 5px;
    background: white;
    border: 3px solid #65560b;
}
h1.title-page-product-setting {
        font-size: 15px;
    text-transform: uppercase;
    border-bottom: 3px solid #865f09;
    padding-bottom: 20px;
    font-weight: bold;
}